#featuresHeader {
  margin: 40px auto;
}

#featuresMessage {
  margin: 0px auto 85px auto;
  width: 584px;
  text-align: center;
}

#featuresWrapper {
  width: 70%;
  margin: 15px 0px 80px 15vw;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.featuresRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0px 0px 4em 0px;
  font-size: inherit;
}

.featureImageWrapper {
  width: 43.4em;
  height: 35.8em;
  font-size: inherit;
}

.featureImageWrapperLeft {
  margin: 0px 0px 0px 7em;
}

.featureImageColumn {
  position: absolute;
  width: 21.9em;
  height: 27em;
  display: flex;
  flex-direction: column;
  transform: translate(16.5em, 5em);
  font-size: inherit;
}

.featureTitle {
  color: #212353;
  font-weight: 400;
  margin: 0px 0px 0.5em 0px;
  font-size: 2.2em;
}

.featureMessage {
  color: #4c5d67;
  font-size: 1.6em;
  line-height: 1.7em;
  font-weight: 100;
  font-family: avenir;
}

.featureButton {
  color: #212353;
  border: none;
  width: fit-content;
  padding: 0px 3.2em 0.2em 0px;
  cursor: pointer;
  font-size: 1.4em;
  background-color: transparent;
  margin: auto 0px 0px 0px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.featureButton:hover {
  transform: scale(1.1);
}

.rectangle {
  position: absolute;
  width: 44.2em;
  height: 35.8em;
}

.rectangleImage {
  position: absolute;
  transform: translate(-10em, 7em);
}

#rectangle1Image {
  width: 23.2em;
  height: 21.1em;
}

#rectangle1A {
  position: absolute;
  transform: translate(18.5em, -3em);
  width: 23.1em;
  height: 23.2em;
}

#rectangle1B {
  position: absolute;
  transform: translate(27.5em, 5em);
  width: 3.5em;
  height: 2.4em;
}

#rectangle2image {
  width: 24.1em;
  height: 18.5em;
}

#rectangle2A {
  position: absolute;
  transform: translate(18.5em, 14em);
  width: 25.1em;
  height: 25.2em;
}

#rectangle3Image {
  position: absolute;
  transform: translate(-11.5em, 12em);
  width: 24.5em;
  height: 18.1em;
}

#rectangle3A {
  position: absolute;
  transform: translate(34em, 3em);
  width: 6.5em;
  height: 5.1em;
}

#rectangle4Image {
  width: 24.5em;
  height: 18.1em;
}

#rectangle4A {
  position: absolute;
  transform: translate(0em, -1em);
  width: 36.4em;
  height: 26.8em;
}

#rectangle4B {
  position: absolute;
  transform: translate(34em, 28.5em);
  width: 6.2em;
  height: 4.4em;
}

@media (max-width: 1615px) {
  #featuresWrapper {
    font-size: 9px;
  }

  .shaftSmallFeature {
    transform: translate(1.65em, 0em) scale(1.2) rotate(90deg);
  }
}

@media (max-width: 1425px) {
  #featuresWrapper {
    font-size: 8px;
  }

  .shaftSmallFeature {
    transform: translate(1.65em, 0.09em) scale(1.2) rotate(90deg);
  }
}

@media (max-width: 1425px) {
  #featuresWrapper {
    font-size: 7px;
  }

  .shaftSmallFeature {
    transform: translate(1.65em, 0.07em) scale(1.2) rotate(90deg);
  }
}

@media (max-width: 1100px) {
  #featuresWrapper {
    flex-direction: column;
  }
  .featuresRow {
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0em 0px;
  }
  .featureImageWrapper {
    width: 43.4em;
    height: 35.8em;
    margin: 0px 0px 4em 0px;
  }
}

@media (max-width: 750px) {
  #featuresHeader {
    margin: 0px auto;
    font-size: 32px;
  }

  #featuresMessage {
    margin: 20px auto 35px auto;
    width: 400px;
    font-size: 14px;
  }
}

@media (max-width: 524px) {
  #featuresWrapper {
    font-size: 6px;
  }
  #featuresHeader {
    font-size: 26px;
  }

  #featuresMessage {
    margin: 15px auto 20px auto;
    width: 325px;
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .rectangleImage {
    transform: translate(-4em, 14em);
    font-size: 0.7em;
  }
  #rectangle3Image {
    font-size: 0.7em;
    transform: translate(-4.5em, 20em);
  }
  #featuresHeader {
    font-size: 26px;
  }

  #featuresMessage {
    margin: 15px auto 20px auto;
    width: 250px;
    font-size: 12px;
  }
}
