html,
body {
  margin: 0;
  width: 100%;
  font-family: Helvetica, avenir, sans-serif;
}

button {
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
}

#masterWrapper {
  background: linear-gradient(180deg, #f6fafd, #fff);
  min-height: 100vh;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.shapeBox {
  width: 4.9em;
  height: 4.8em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9c69e2;
}

.oval {
  width: 2em;
  height: 3.5em;
  border-radius: 2em;
  background-color: #f063b8;
}

.reqDemoButton {
  font-size: 1.4em;
  font-weight: 600;
  width: 15em;
  height: 4.28em;
  border: none;
  background-color: white;
  color: #212353;
  border-radius: 3em;
  margin: 0px 0px 0px auto;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.reqDemoMessage {
  position: absolute;
  transform: translateX(25px);
  font-size: 1.07em;
  letter-spacing: 0.5px;
  font-family: avenir;
}

.shaft {
  position: absolute;
  transform: translate(11.78em, 0.07em) scale(1.5, 1.2) rotate(90deg);
  color: #9c69e2;
}

.arrowHead1 {
  position: absolute;
  color: #9c69e2;
  transform: translate(12.14em, -0.25em) scaleX(1.2) rotate(-20deg);
}

.arrowHead2 {
  position: absolute;
  color: #9c69e2;
  transform: translate(12.14em, 0.39em) scaleX(1.2) rotate(20deg);
}

.paragraphText {
  color: #4c5d67;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-family: avenir;
}

.learnMoreButton {
  border: none;
  border-radius: 4.5em;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5em;
  width: 11.33em;
  height: 4em;
  cursor: pointer;
  font-family: avenir;
}

.headerSmall {
  color: #212353;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 0.5px;
}
